# Eclipse / STS
bin/
*.class
*.log
*.tmp
*.bak
*.swp

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Eclipse 설정 파일
.settings/
.project
.classpath

# OS별
.DS_Store
Thumbs.db
