<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ArtworkMapper">

	<select id="findDraftByUserCode" parameterType="int"
		resultType="java.util.Map">
		SELECT
		a.id as id,
		a.user_code as user_code,
		a.title as title,
		a.content as content,
		a.is_draft as is_draft,
		a.created_at as
		created_at,
		a.updated_at as updated_at,
		ai.id as ai_id,
		ai.artwork_id as
		artwork_id,
		ai.file_url as file_url,
		ai.file_name as file_name,
		ai.uploaded_at as uploaded_at
		FROM artworks a
		LEFT JOIN artwork_images
		ai ON a.id = ai.artwork_id
		WHERE a.user_code = #{userCode}
		AND
		a.is_draft = TRUE
	</select>


	<insert id="insertDraftArtwork"
		parameterType="com.spring.finall.user.ArtworkVO"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO artworks (user_code)
		VALUES (#{userCode})
	</insert>


	<update id="updateArtWorkStatus"
		parameterType="java.util.Map">
		update artworks set is_draft = FALSE, content=#{content} where user_code= #{userCode} and id=#{id}

	</update>






	<select id="currentDraftArtWorkId" parameterType="int"
		resultType="int">
		SELECT id FROM artworks WHERE user_code = #{userCode} AND is_draft = TRUE
	</select>




	<insert id="insertDraftArtworkImage" parameterType="Map">
		insert into
		artwork_images (artwork_id,file_url,file_name) values
		(#{currentDraftArtWorkId},#{uploadDir},#{finalFileName})
	</insert>

<delete id="deleteArtWorkDraftImage"   parameterType="Map">
	DELETE FROM artwork_images 
	WHERE artwork_id = #{currentDraftArtWorkId} 
	  AND file_url = #{fordName} 
	  AND file_name = #{fileName};
</delete>




<select id="getArtWorkList" parameterType="java.util.Map" resultType="java.util.Map" >

	SELECT
	a.title,
	ai.artwork_id,
	ai.file_url,
	ai.file_name,
	a.created_at
	
	FROM
	artworks AS a
	INNER JOIN artwork_images AS ai

	ON
	a.id = ai.artwork_id

	group by a.id

	order by a.created_at desc

	limit #{offset} ,#{limit}

</select>


<select id="getArtWorkDetail" parameterType="int" resultType="java.util.Map" >

	SELECT
	
	a.title,
	a.content,
	ai.artwork_id,
	ai.file_url,
	ai.file_name,
	a.created_at
	
	FROM
	artworks AS a
	INNER JOIN artwork_images AS ai

	ON
	a.id = ai.artwork_id

	where ai.artwork_id=#{artWorkId}
	
	group by ai.artwork_id

</select>




<select id="flatTopCommentPagedParents" resultType="map" parameterType="map">
  SELECT *
  FROM artwork_comment
  WHERE parent_comment_id IS NULL AND artwork_id = #{artworkId}
  ORDER BY artwork_comment_id
  LIMIT #{limit} OFFSET #{offset}
</select>


<!--  foreach 구문은 그저 where   parent_id IN (1,2,3,4)  이다.-->
<select id="flatToSelectChildrenByParentIds" resultType="map" parameterType="list">
  SELECT *
  FROM artwork_comment
  WHERE parent_comment_id IN
  <foreach item="parentId" collection="list" open="(" separator="," close=")">
    #{parentId}
  </foreach>
</select>


<insert id="createArtworkComment" parameterType="ArtWorkCommentVO">

	INSERT
	INTO
	artwork_comment (artwork_id,
	user_code,
	comment_text)
	VALUES(
	#{artworkId},
	#{userCode},
	#{commentText}
	)

</insert>

<insert id="applyToComment"
        parameterType="ArtWorkCommentVO"
        useGeneratedKeys="true"
       	keyProperty="artworkCommentId">

    INSERT INTO artwork_comment (
        artwork_id,
        parent_comment_id,
        user_code,
        comment_text
    )
    VALUES (
        #{artworkId},
        #{parentCommentId},
        #{userCode},
        #{commentText}
    )
</insert>


<select id="searchyArtWork" parameterType="ArtworkVO" resultType="Map">
select
	*
From
	artworks a
inner join artwork_images as ai

on
	a.id = ai.artwork_id
  AND a.content LIKE CONCAT('%', #{content}, '%')
  LIMIT #{offSet}, #{limit}
</select>

<select id="searchyCntAll" parameterType="ArtworkVO" resultType="int">
select
	count(*)
From
	artworks a

 WHERE  a.content LIKE CONCAT('%', #{content}, '%')
</select>


<select id="getArtWorkCountByTodayAndWeek" parameterType="map" resultType="map">
    SELECT created_at
    FROM artworks
    WHERE created_at BETWEEN #{startOfWeek} AND #{endOfWeek}
</select>


</mapper>