<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ManageProductMapper">
<resultMap id="ProductGroupMap" type="ProductGroupVO">
    <result property="groupId" column="group_id"/>
    <result property="groupName" column="group_name"/>
    <result property="groupDescription" column="group_description"/>
</resultMap>

<select id="getProductCode" resultMap="ProductGroupMap">
    SELECT * FROM product_group
</select>



<select id="getActiveProductList" parameterType="int" resultType="map">
   SELECT
	p.product_img,
	p.product_Registration_status,
	p.product_info,
	p.product_status,
	p.product_id,
	p.product_cod,
	p.product_name,
	p.product_group,
	p.product_file_path,
	p.file_category,
	p.file_name,
	h.old_price,
	h.new_price,
	h.changed_at
FROM
	product p
INNER JOIN product_price_history h ON
	p.product_id = h.product_id
INNER JOIN (
	SELECT
		product_id,
		MAX(changed_at) AS max_changed_at
	FROM
		product_price_history
	GROUP BY
		product_id
) latest ON
	h.product_id = latest.product_id
	AND h.changed_at = latest.max_changed_at
WHERE
	
	p.group_id = #{groupId}
	AND h.old_price != h.new_price
ORDER BY
	p.product_id;
</select>


   <!-- 상품 상태 업데이트 -->
    <update id="updateProductStatus" parameterType="map">
        UPDATE product
        SET product_status = #{status}
        WHERE product_id = #{productId}
    </update>




<select id="alreadyExsistProduct" parameterType="String" resultType="String">
    select product_name from product where product_name=#{product_name}

</select>


<select id="getCurrentMaxproductCod" resultType="int">
    select max(product_cod) from product
</select>





<insert id="saveProduct"  parameterType="ProductVO"

useGeneratedKeys="true"
        keyProperty="product_id"
>
    INSERT INTO product (
        product_cod,
        product_group,
        group_id,
        product_name,
        product_price,
        product_quantity,
        product_info,
        product_img,
        product_file_path,
        file_category,
        file_name
    ) VALUES (
        #{product_cod},
        #{product_group},
        #{group_id},
        #{product_name},
        #{product_price},
        #{product_quantity},
        #{product_info},
        #{product_img},
        #{product_file_path},
        #{file_category},
        #{file_name}
    )
</insert>



<insert id="insertProductPriceHistory" parameterType="ProductPriceHistoryVO">

INSERT INTO product_price_history (product_id,old_price,new_price) VALUES (#{productId},#{oldPrice},#{newPrice})
</insert>



<select id="alreadyProductGroupName" parameterType="ProductGroupVO" resultType="ProductGroupVO">
    SELECT group_name FROM product_group WHERE group_name=#{groupName}
</select>



<!-- XML -->
<insert id="addProductGroup" parameterType="ProductGroupVO" useGeneratedKeys="true" keyProperty="groupId">
    INSERT INTO product_group (group_name) VALUES (#{groupName})
</insert>


<select id="stockCheck" resultType="map">
    SELECT product_id, product_quantity 
    FROM product 
    WHERE product_id IN 
    <foreach collection="list" item="item" open="(" separator="," close=")">
        #{item.productId}
    </foreach>
</select>



</mapper>
