<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">
	<context:component-scan
		base-package="com.spring.finall, com.spring.FormSecurity">
		<context:exclude-filter type="regex"
			expression="com\.spring\.finall\.admin(\..*)?" />
	</context:component-scan>




<!--task:annotation-driven 와  helloBatch 둘이 쌍으로 배치 스케쥴러 같은건데 지금 주석처리함 -->
<!--    <task:annotation-driven/>
 <bean id="helloBatch" class="com.spring.finall.apiResponseController.HelloBatch"/> -->

	<context:property-placeholder
		location="classpath:mappings/database.properties" />


<bean id="uploadSecurityManager" class="com.spring.finall.Validator.UploadSecurityManager.UploadSecurityManager"/>




	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- <aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy> -->
	<!-- <bean id="aop" class="com.spring.finall.aop.Ex01Aspect"/> -->

	<!-- <aop:config proxy-target-class="true"> <aop:pointcut id="servicePublicMethod" 
		expression="execution(public * com.spring.finall.redis.controller..*())" 
		/> <aop:advisor advice-ref="txAdvice" pointcut-ref="servicePublicMethod" 
		/> </aop:config> <tx:advice id="txAdvice" transaction-manager="transactionManager"> 
		<tx:attributes> <tx:method name="test" rollback-for="Exception" /> </tx:attributes> 
		</tx:advice> -->


	<bean id="redisConnectionFactory"
		class="org.springframework.data.redis.connection.lettuce.LettuceConnectionFactory"
		p:host-name="127.0.0.1" p:port="6379" p:password="1111" />

	<bean id="stringSerializer"
		class="org.springframework.data.redis.serializer.StringRedisSerializer" />

	<bean id="redisTemplate"
		class="org.springframework.data.redis.core.RedisTemplate">
		<property name="connectionFactory"
			ref="redisConnectionFactory" />

		<!-- 키, 해시 키는 문자열 직렬화 -->
		<property name="keySerializer" ref="stringSerializer" />
		<property name="hashKeySerializer" ref="stringSerializer" />

		<!-- 값, 해시 값도 문자열 직렬화 (필요하면 JdkSerializer 등으로 변경 가능) -->
		<property name="valueSerializer" ref="stringSerializer" />
		<property name="hashValueSerializer" ref="stringSerializer" />
	</bean>


	<bean id="corsConfigurationSource"
		class="org.springframework.web.cors.UrlBasedCorsConfigurationSource">
		<property name="corsConfigurations">
			<map>
				<entry key="/*">
					<bean class="org.springframework.web.cors.CorsConfiguration">
						<property name="allowCredentials" value="true" />
						<property name="allowedOrigins">
							<list>
								<value>http://localhost:5173</value> <!-- 클라이언트 주소 -->
							</list>
						</property>
						<property name="allowedMethods">
							<list>
								<value>GET</value>
								<value>POST</value>
								<value>PUT</value>
								<value>DELETE</value>
							</list>
						</property>
						<property name="allowedHeaders">
							<list>
								<value>Authorization</value>
								<value>Content-Type</value>
							</list>
						</property>
					</bean>
				</entry>
			</map>
		</property>
	</bean>

	<bean id="corsFilter"
		class="org.springframework.web.filter.CorsFilter">
		<constructor-arg ref="corsConfigurationSource" />
	</bean>




	<!-- dbcp 풀이이 적혀있다. 즉 드라이버 로드 및 컨넥션을 미리 만들어주는 bean -->
	<!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" 
		destroy-method="close"> <property name="driverClassName" value="${jdbc.driver}" 
		/> <property name="url" value="${jdbc.url}" /> <property name="username" 
		value="${jdbc.username}" /> <property name="password" value="${jdbc.password}" 
		/> <property name="initialSize" value="1000"/> <property name="minIdle" value="0"/> 
		<property name="maxIdle" value="1"/> <property name="maxActive" value="1000"/> 
		</bean> -->


	<!-- <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" 
		destroy-method="close"> <property name="driverClassName" value="${jdbc.driver}" 
		/> <property name="url" value="${jdbc.url}" /> <property name="username" 
		value="${jdbc.username}" /> <property name="password" value="${jdbc.password}" 
		/> <property name="initialSize" value="1000"/> <property name="minIdle" value="0"/> 
		<property name="maxIdle" value="1"/> <property name="maxActive" value="1000"/> 
		</bean> -->



	<!-- 참조값 ref 는 위 datasourcr이다. 즉 저걸 바탕으로 각종 구현된 select 등을 제공 하는듯 그러나 우리는 
		좀더 세련된 객체를 쓰려고 이제 필요 없으니 주석처리한다. -->
	<!-- <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"> 
		<property name="dataSource" ref="dataSource" /> </bean> -->

	<!-- 주의: property ref 의 dataSource 는 presentaion-layer.xml로 가서봐라 제발 의 dataSource로 
		결국 AdminConfig 을 가보면 안다. -->
	<bean id="sqlsession"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation"
			value="classpath:sql-map-config.xml"></property>
	</bean>

	<!-- 생성된 bean=객체 sqlsession 을 가지고 SqlSessionTemplate 형 객체를 생성한다. -->
	<bean class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlsession"></constructor-arg>
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="10485760" />
	</bean>




</beans>
