<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


	<!-- <context-param> <param-name>contextConfigLocation</param-name> <param-value> 
		classpath:applicationcontext.xml </param-value> </context-param> -->

	
	<context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
    	classpath:security-global.xml
        classpath:security-context.xml
   		classpath:security-teacher.xml
   		classpath:security-admin.xml
        classpath:applicationcontext.xml
    </param-value>
</context-param>



	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>





	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/presentation-layer.xml</param-value>
		</init-param>
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext
			</param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>com.spring.finall.config.AdminConfig</param-value>
		</init-param> 

		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>default</servlet-name>
		<servlet-class>org.apache.catalina.servlets.DefaultServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>


	<session-config>
		<session-timeout>30</session-timeout>
		<cookie-config>
			<http-only>true</http-only>
			<secure>false</secure>
		</cookie-config>
	</session-config>




	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>



	<!-- 위에서 시큐리티 주석처리해 현재 이것도 주석처리함. 또한 나중에 해제한다면 주의 하라 서블릿 매핑은 .do 이고 이제 시큐리티는 
		.do 필요없음 -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- jpa 관련 무언가 의 데이터를 컨트롤러 ~ 뷰까지 까지 데이터 유지 해줌 없으면 아래 오류 키워드 뜸 WARN : org.springframework.web.servlet.mvc.support.DefaultHandlerExceptionResolver 
		- Resolved could not initialize proxy - no Session -->
	<!-- <filter>
		<filter-name>OpenEntityManagerInViewFilter</filter-name>
		<filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter
		</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>OpenEntityManagerInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->
	<!-- 리스너 테스트용임 -->
	<!-- <listener> <listener-class>com.spring.finall.listen.TestListen</listener-class> 
		</listener> -->
	<context-param>
		<param-name>log4jConfigurationFile</param-name>
		<param-value>classpath:log4j.xml</param-value>
	</context-param>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/error/notFound.jsp</location>
	</error-page> 

	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/500.jsp</location>
	</error-page>
	
	

</web-app>
